body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
    position: relative; 
}
h1 {
    font-size: 1.5em;
    margin-bottom: 25px;
    color: #007acc;
}
form {
    display: flex;
    flex-direction: column;
}
input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

textarea {
    height: 240px;
    resize: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

button#backButton {
    background-color: #ffcc00;
    color: #000;
}